::-webkit-scrollbar {
  width: 5px;
  padding-right: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(122, 122, 122);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51);
}

body {
  overflow: overlay;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary {
  background-image: linear-gradient(10deg, #0059ce, #0059ce, #00c7ce);
  border: none;
}
.btn-primary:hover {
  outline: 2px solid #0059ce;
}
.nav-bar {
  background-image: linear-gradient(15deg, #00306e, #0059ce, #00cea1);
}
.branding {
  font-size: 30px;
  font-weight: bold;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.product {
  border: 2px solid #404040;
  border-radius: 2px;
  margin: 1rem;
}
.product-info {
  padding: 1rem;
}
.product-name {
  color: black;
}
.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}
